.topBar {
	 background-color: #006FA8;
	 height: 3em;
}
.background {
	background-color: #313F52;
	padding: 7em 0 2em 0;
}
.createText {
	color: white;
	margin: 12% auto 5% auto;
	font-size: 2em;
	max-width: 80%;
	text-align: center;
	font-family: sans-serif;
}
.info {
	color: white;
	margin: 5% auto 12% auto;
	font-size: 1em;
	max-width: 70%;
	text-align: center;
	font-family: sans-serif;
}
.firstBlueBox { 
	margin: 5% auto 12% auto;
	max-width: 50%;
	background-color: #1E8CBE;
	height: 3em;
	border: .6em solid #212934;
}
.littleWhiteBox {
	background-color: white;
	height: 1.2em;
	margin: 50% auto 25% auto;
	max-width: 3em;

}
.whiteBoxesRpt {
	height: 4.7em;
	border: 15px solid #313F52;
	border-right: 0;
	border-left: 0;
	background-color: white;
	margin: 0 auto 0 auto;
	max-width: 19em;

}
.ltBlueSeperator {
	background-color: #E8F0F5;
	height: 11em;
}
.divider {
	background-color: #D1D3D7;
	height: 1em
}
.sixBoxes {
	background-color: white;
	border-color: #D1D3D7;
	border-style: solid;
	border-width: 1em .7em 1em .7em;
	height: 14em;
}
.bottomBlue {
	background-color: #E8F0F5;
	height: 8.5em;
	padding: 1em 0 1em 0;

}
.insideBottomBlue {
	background-color: #1E8CBE;
	height: 3em;
	max-width: 12em;
	margin: 5em auto 1em auto;

}
.foot {
	background-color: black;
	padding: 2em 2em 0em 2em;
	height: 1em;
}
p a {
	color: white;
	font-family: sans-serif;
	font-size: .7em;
	text-align: center;
	text-decoration: none;
	margin: .5em .5em;
}
.footTwo {
	background-color: black;
	padding: .5em 2em 4em 2em;
	height: .5em;
}
div p {
	text-align: center;
	margin: 0 0 0 0;
	height: auto;
}
.whiteBox {
	background-color: white;
	height: 1.5em;
	max-width: 30%;
	margin: 1em auto 1em auto;
}
.topBarInner {
	 background-color: #118BC0;
	 height: 3em;
	 display: inline-block;
	 width: 80%;
}
.topWhiteOne {
	background-color: white;
	height: 2em;
	display: inline-block;
	width: 2em;
	margin: .5em .5em .5em 1em;
}
.topWhiteTwo {
	background-color: white;
	height: 2em;
	display: inline-block;
	width: 7em;
	margin: .5em .5em .5em .5em;
}
.whiteBoxInsideOne {
	background-color: #616E7F;
	height: 4em;
	margin: .7em 0 0 0;
	width: 3em;
	float: left;

}
.whiteBoxInsideTwo {
	background-color: #616E7F;
	height: 4.2em;
	margin: 0 0 0 .8em;
	width: 15em;
	float: left;
}
.sixBoxesInsideOne {
	background-color: #C7D2D8;
	margin: 5% auto 1% auto;
	max-width: 4em;
	height: 4.1em;
}
.sixBoxesInsideTwo {
	background-color: #C7D2D8;
	margin: 2% auto 3% auto;
	max-width: 90%;
	height: 1.5em;
}
.sixBoxesInsideThree {
	background-color: #C7D2D8;
	margin: 4% auto 0 auto;
	max-width: 90%;
	height: 3em;
}