.topBar {
	 background-color: #006FA8;
	 height: 3em;
}
.background {
	background-color: #313F52;
	padding: 7em 0 2em 0;
	background-image: url(../images/crowd.jpg);
	background-size: 100% 100%;
}
.createText {
	color: white;
	margin: 12% auto 5% auto;
	font-size: 2em;
	max-width: 80%;
	text-align: center;
	font-family: sans-serif;
}
.info {
	color: white;
	margin: 5% auto 12% auto;
	font-size: 1em;
	max-width: 70%;
	text-align: center;
	font-family: sans-serif;
}
.firstBlueBox { 
	margin: 5% auto 12% auto;
	background-color: rgba(21, 33, 39, .5);
	text-align: center;
	overflow: hidden;
	padding: .5em .5em;
	width: 15em;

}
.firstBlueBoxText {
	color: white;
	font-family: Arial;
	font-size: 1.5em;
	line-height: 200%;
	background-color: #1E8CBE;
}
.littleWhiteBox {
	background-color: transparent;
	height: 1.2em;
	margin: 50% auto 25% auto;
	max-width: 3em;
	text-align: center;

}
.whiteBoxesRpt {
	height: 4.7em;
	border: 15px solid rgba(255,0,0,0);
	border-right: 0;
	border-left: 0;
	background-color: transparent;
	margin: 0 auto 0 auto;
	width: 19em;

}
.ltBlueSeperator {
	background-color: #E8F0F5;
	font-size: 1.5em;
	text-align: center;
	color: #333E4F;
	padding: 1em 0 1em 0;
	font-family: Arial;
}
.ltBlueSeperatorText {
	margin: 0 1em 0 1em;
	line-height: 200%;

}
span {
	margin: 1em 1em;
	padding: 1em 1em;
}
.divider {
	background-color: #D1D3D7;
	height: 1em
}
.sixBoxes {
	background-color: white;
	border-color: #D1D3D7;
	border-style: solid;
	border-width: 1em .7em 1em .7em;
	padding: 1em 3em 2em 3em;
}
.bottomBlue {
	background-color: #E8F0F5;
	height: 5em;
	padding: 1em 0 1em 0;
	font-family: Arial;
	font-size: 1.8em;
	text-align: center;
}
.insideBottomBlue {
	background-color: #1E8CBE;
	height: 2.3em;
	max-width: 9em;
	margin: 1em auto 1em auto;
	text-align: center;
	color: #E8F0F5;
	line-height: 250%;

}
.foot {
	background-color: black;
	padding: 2em 2em 0em 2em;
	height: 1em;
}
p a {
	color: white;
	font-family: sans-serif;
	font-size: .7em;
	text-align: center;
	text-decoration: none;
	margin: .5em .5em;
}
.footTwo {
	background-color: black;
	padding: .5em 2em 4em 2em;
	height: .5em;
}
div p {
	text-align: center;
	margin: 0 0 0 0;
	height: auto;
}
p {
	text-align: center;
	margin: 0 0 0 0;
	height: auto;
}
.whiteBox {
	background-color: white;
	height: 1.5em;
	max-width: 30%;
	margin: 1em auto 1em auto;
}
.topBarInner {
	 background-color: #118BC0;
	 height: 3em;
	 display: inline-block;
	 width: 75%;
	 font-weight: 100;
	 font-family: Arial;
}
.topWhiteOne {
	background-color: white;
	height: 2em;
	width: 2em;
	margin: .5em .5em .5em 1em;
	float: left;
	overflow: hidden;
}
.topWhiteTwo {
	background-color: transparent;
	height: 2em;
	width: 4.9em;
	margin: 1em 0 1em .5em ;
	color: white;
	font-size: 1em;
	float: left;
	font-weight: 100;
	font-family: Arial;
}
.topWhiteTwoB {
	background-color: transparent;
	height: 2em;
	width: 7em;
	margin: 1em .5em 1em 0 ;
	color: #98CEE4;
	font-size: 1em;
	float: left;
	font-weight: 100;
	font-family: Arial;
}
.whiteBoxInsideOne {
	background-color: transparent;
	height: 3.3em;
	margin: .7em 0 0 0;
	width: 3em;
	float: left;

}
.whiteBoxInsideTwo {
	background-color: transparent;
	height: 4.2em;
	margin: .6em 0 0 .8em;
	width: 13em;
	float: left;
	color: white;
	font-family: Arial;
	font-size: 1.1em;
	line-height: 150%;
}
.whiteBoxesSecondary {
	font-size: .8em;
	font-family: Arial;
	background-color: transparent;
	color: #D5D6D2;

}
.sixBoxesInsideOne {
	background-color: #C7D2D8;
	margin: 5% auto 1% auto;
	max-width: 2em;
	height: 2em;
	border: 14px solid #C7D2D8;
	border-radius: 100%;
}
.sixBoxesInsideTwo {
	background-color: transparent;
	margin: 2% auto 3% auto;
	max-width: 90%;
	color: #406074;
	font-size: 1.2em;
	text-align: center;
	font-family: Arial;

}
.sixBoxesInsideThree {
	background-color: transparent;
	margin: 4% auto 0 auto;
	max-width: 90%;
	color: black;
	font-size: 1em;
	text-align: center;
	font-family: Arial;
}
.login {
	float: right;
	font-family: Arial;
	font-size: .8em;
	color: white;
	margin: 1.2em 2em .5em 1em;
}
img {
	height: 100%;
	width: 100%;
}
.fa {
	color: #FFFFFF;
}